langgraph
instructor
openai
pydantic
langgraph
instructor
groq
pydantic
python-dotenv
llama-index
llama-index-vector-stores-chroma
chromadb
llama-index-embeddings-huggingface
langgraph
instructor
groq
pydantic
python-dotenv
llama-index
llama-index-vector-stores-chroma
chromadb
llama-index-embeddings-huggingface
duckduckgo-search
pandas
openpyxl
requests
beautifulsoup4
markdownify
aiohttp
playwright

fastapi
uvicorn
